ul {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    display: block;
    list-style: none;
  }
  
  a.prev {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #DE682F;
    /*background-color: #333; */
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-decoration: none;
  }

  a.next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #DE682F;
    /*background-color: #333; */
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-decoration: none;
  }


  a.prev2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #DE682F;
    /*background-color: #333; */
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-decoration: none;
  }

  a.next2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #DE682F;
    /*background-color: #333; */
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-decoration: none;
  }

  /*button.prev, button.next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #FFF;
    background-color: #333;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }*/
  a.prev {
    position: absolute;
    left: 19%;
    top: 150px;
  }
  a.next {
    position: absolute;
    right: 19%;
    top: 150px;
  }

  /*button.prev {
    position: absolute;
    left: 19%;
    top: 80px;
  }*/

  a.prev2 {
    position: absolute;
    left: 19%;
    top: 560px;
  }

  a.next2 {
    position: absolute;
    right: 19%;
    top: 560px;
  }

  .most{
    margin-top: 14px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
      
  }

  .precos-baixos{
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
      
  }
  .title{
    font-size: 25px;
    color: #3D2150;
  }

  .title-most{
    font-family:"Abadi MT Condensed Light";
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .title-price{
    font-family:"Abadi MT Condensed Light";
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .itens-most{
    margin: 0 auto;
    width: 58%; /* Valor da Largura */
    text-align: center;
   }

  .title-price{
    margin: 0 auto;
    width: 50%; /* Valor da Largura */
    text-align: center;
  }

  
  .itens-price{
    margin: 0 auto;
    width: 58%; /* Valor da Largura */
    text-align: center;
  }

  .produto{
    padding-left: 10px;
    text-align: left;
    color: #3D2150;
    font-family:"Abadi MT Condensed Light";
  }

  .descricao{
    color: gray;
    font-size: 17px;
    white-space: normal
  }
  .old{
    color: gray;
    font-size: 14px;
  }
  .preco{
    font-size: 25px;
  }
  .parcela{
    font-size: 18px;
  }

  .alerta{
    margin-left: 55px;
    font-family:"Abadi MT Condensed Light";
    color: #fff;
    background-color:  #3D2150;
    padding-left: 40px;
    padding-right: 40px;
    display: none;
  }

  .box{
    padding-right: 2px;
  }

  

  

  